.section-banner{
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  h1{
    margin-bottom: 32px;
    @media all and (max-width: 767px){
      margin-bottom: 22px;
    }
  }
}
.link{
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  &:hover{
    text-decoration: underline;
  }
  svg{
    margin-left: 8px;
  }
}
.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  @media all and (max-width: 767px){
    flex-wrap: wrap;
    margin-top: 0;
  }
}

.banner-info{
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  @media all and (min-width: 768px){
    width: 40%;
    flex-basis: 40%;
  }
  @media all and (max-width: 767px){
    order: 2;
  }
  .row{
    justify-content: flex-start;
    input[type="text"]{
      @media all and (min-width: 600px) {
        max-width: 380px;
      }
    }
  }
}
.banner-animation{
  @media all and (min-width: 768px){
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60%;
    width: 60%;
    min-height: 444px;
  }
  @media all and (max-width: 1280px){
    min-height: 320px;
  }
  @media all and (max-width: 1023px){
    min-height: 240px;
  }
  @media all and (min-width: 1185px){
    img{
      max-width: none;
    }
  }
  @media all and (max-width: 767px){
    order: 1;
    margin: 0 auto 25px;
    min-height: 0;
  }
}
.count{
  margin: 30px 0;
  padding: 0;
  list-style: none;
  @media all and (min-width: 768px){
    display: flex;
    margin: 80px 0;
  }
  .h1{
    color: $dark-gray;
    margin-bottom: 4px;
    @media all and (min-width: 768px){
      margin-bottom: 10px;
    }
    display: inline-block;
  }
  li{
    margin-bottom: 20px;
    @media all and (min-width: 768px){
      margin-right: 5%;
      margin-bottom: 0;
      max-width: 200px;
    }
  }
}
