{% extends "blog/blog_listing_page.html" %}

{% block featured %}
    {% if featured_post %}
        <div class="section-event-text featured">Featured</div>
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block upcoming %}
    {% if posts %}
        <div class="section-event-text upcoming">Upcoming Events</div>
        {{ block.super }}
    {% elif featured_post %}
    {% else %}
        <div class="container-md">
            <div class="row">
                <div class="col waiting">
                    <p>We are waiting for new events</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block past %}
    {% if past_events %}
        <div class="container-md past-events">
        <div class="section-event-text past-list">Past Events</div>
            <div class="row wide">
                    {% for post in past_events|slice:":5" %}
                        <div class="col-sm past">
                            {% include "../snippets/event_post_block.html" with post=post %}
                        </div>
                    {% endfor %}
            </div>
            <div class="row wide">
                    {% for post in past_events|slice:"5:10" %}
                        <div class="col-sm past">
                            {% include "../snippets/event_post_block.html" with post=post %}
                        </div>
                    {% endfor %}
            </div>
            <div class="row narrow">
                    {% for post in past_events|slice:":2" %}
                        <div class="col-sm past">
                            {% include "../snippets/event_post_block.html" with post=post %}
                        </div>
                    {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block pagination %}{% endblock %}
