<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form submission from ckan.org</title>
  </head>
  <body>
    <tr>
      <td> <b>Sender name:</b> </td> <td> {{ sender_name }} </td>
    </tr><br>
    <tr>
      <td> <b>Sender Company/Organization Name:</b> </td> <td> {{ sender_company }} </td>
    </tr><br>
    <tr>
      <td> <b>Sender e-mail address:</b> </td> <td> {{sender_e_mail_address }} </td>
    </tr><br>
    <tr>
     <td> <b>Sender phone number:</b> </td> <td> {{ sender_phone_number }} </td>
    </tr><br>
    <tr>
      <td> <b>What brings you to CKAN.org / How can we help?</b> </td> <td> {{ what_brings_you_to_ckan_org }} </td>
    </tr><br>
    <tr>
      <td> <b>I consent to ckan.org sending me marketing emails:</b> </td> <td> {{ i_consent_to_ckan_org_sending_me_marketing_emails }} </td>
    </tr>
    
  </body>
</html>

