.container-lg {
    .invite-card {
        display: flex;
        padding: 64px 80px;
        gap: 24px;
        border-radius: 32px;
        border: 1.5px solid $dark-gray;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;

        @media all and (max-width: 768px) {
            padding: 40px 24px;
        }

        @media all and (max-width: 425px) {
            display: block;
            padding: 24px;
        }

        .row {
            display: flex;
            margin-bottom: 0;

            @media all and (max-width: 768px) {
                display: block;
            }

            .invite-info {
                text-align: left;
                color: $dark-gray;
                width: unset;

                .invite-info-title {
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 47.73px;
                    margin-bottom: 12px;

                    @media all and (max-width: 768px) {
                        font-size: 36px;
                    }

                    @media all and (max-width: 425px) {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 28.64px;
                        margin-top: 24px;
                        text-align: center;
                    }
                }

                .invite-info-text {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;

                    @media all and (max-width: 425px) {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 22.5px;
                    }
                }
            }

            .invite-action {
                align-items: center;
                display: flex;
                justify-content: center;
                width: unset;

                @media all and (max-width: 768px) {
                    margin-top: 24px;
                    justify-content: left;
                }

                @media all and (max-width: 425px) {
                    margin-top: 24px;
                    padding: 0;
                    justify-content: center;

                    .webinar-contact {
                        width: 100%;

                        #contact {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
