.page-header {
    font-family: $base-font-sans-serif;
    text-align: center;
    gap: 32px;
    margin-bottom: 64px;

    .page-title {
        font-size: 50px;
        font-weight: 500;
        line-height: 54px;
        color: $black;
    }

    .page-description {
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        color: $dark-gray;
    }
}
