// FEATERED EVENTS SECTION STYLES

.archive-section-wrapper,
.featured-section-wrapper {
    margin-bottom: 64px;

    @media all and (max-width: 425px) {
        margin-bottom: 12px;
    }

    .featured-section-header {
        margin-bottom: 56px;

        @media all and (max-width: 425px) {
            margin-bottom: 0;
        }

        .section_title {
            font-size: 40px;
            font-weight: 700;
            line-height: 52px;
            text-align: center;
            color: $dark-gray;
        }

        .section_description {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            text-align: center;
            color: $dark-gray;
        }
    }

    .row {
        justify-content: left;
        align-items: stretch;

        @media all and (max-width: 910px) {
            display: block;
        }

        @media all and (max-width: 425px) {
            margin-bottom: 24px;
        }

        .col-6 {
            display: flex;
            align-items: stretch;
            padding: 12px;

            @media all and (max-width: 910px) {
                width: 100%;
            }

            @media all and (max-width: 425px) {
                padding-right: 0;
                padding-left: 0;
            }

            .event-link {
                display: flex;
                text-decoration: none;
                color: unset;
            }
        }
    }

    .more-events {
        padding-bottom: 28px;

        @media all and (max-width: 425px) {
            padding-bottom: 40px;
        }

        .btn-more-events {
            border: none;
            background-color: transparent;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.1em;
            text-align: center;
        }
    }

    .pagination-holder.indent {
        margin-bottom: 120px;
    }
}

.archive-events {
    .event-header {
        @media all and (max-width: 910px) {
            margin-bottom: 24px;
        }

        .col-name {
            color: $gray-sonic; 
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            text-align: left;
        }
    }
}

@media all and (max-width: 910px) {
    .archive-section-wrapper {
        padding-right: 0;
        padding-left: 0;

        .event-item:first-of-type {
            padding-top: 0;
        }

        .pagination-holder.indent {
            margin-top: 40px;
            margin-bottom: 64px;

            .pagination {
                li {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

@media all and (max-width: 425px) {
    .archive-events {
        .event-header {
            display: none;
        }
    }

    .archive-section-wrapper {
        padding-right: 0;
        padding-left: 0;

        .event-item:first-of-type {
            padding-top: 0;
        }

        .pagination-holder.indent {
            margin-top: 24px;
            margin-bottom: 40px;

            .pagination {
                li {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

.event-details {
    .col-4 {
        width: 100%;
    }

    .col-name {
        color: $gray-sonic;
    }
}
