Django==5.2.8
wagtail==7.2
django-taggit==6.0.0
django-extensions==4.1
whitenoise==6.11.0
wagtail-cache==3.0.0
wagtail-metadata==5.0.0
wagtail-django-recaptcha==2.1.1
wagtailcodeblock==1.29.0.2
mailchimp-marketing==3.0.80
asgiref==3.10.0
certifi==2025.10.5
cffi==2.0.0
cryptography==46.0.3
django-allauth==65.13.0
django-recaptcha==4.1.0
django-simple-captcha==0.6.2
djangorestframework==3.16.1
django-modelcluster==6.4
et-xmlfile==2.0.0
idna==3.11
l18n==2021.3
oauthlib==3.3.1
openpyxl==3.1.5
posthog==3.5.0
prettytable==3.16.0
psycopg2==2.9.9
pycparser==2.23
PyJWT==2.10.1
pytz==2025.2
requests==2.32.5
requests-cache==1.2.0
requests-oauthlib==2.0.0
six==1.17.0
soupsieve==2.8
sqlparse==0.5.3
tablib==3.9.0
telepath==0.3.1
tqdm==4.67.1
Unidecode==1.4.0
Willow==1.12.0
XlsxWriter==3.2.9
Pillow==11.3.0
folium==0.20.0
numerize==0.12
