Django==4.0.10
wagtail==3.0.3
django-extensions>=3.0,<3.1
whitenoise
wagtail-cache==2.1.1
psycopg2
wagtail-metadata==4.0.3
requests-cache
django-allauth
wagtail-django-recaptcha==1.0
wagtailcodeblock==1.28.0.0
mailchimp-marketing
