Django==4.2
wagtail==6.2.3
django-taggit==5.0.1
django-extensions>=3.0,<3.1
whitenoise==6.5.0
wagtail-cache==2.5.1
wagtail-metadata==5.0.0
wagtail-django-recaptcha==1.0
wagtailcodeblock==1.29.0.2
mailchimp-marketing==3.0.80
asgiref==3.7.2
certifi==2023.5.7
cffi==1.15.1
cryptography==41.0.1
django-allauth==0.54.0
django-recaptcha==4.0.0
django-simple-captcha==0.6.0
djangorestframework==3.15.2
django-modelcluster==6.3
et-xmlfile==1.1.0
idna==3.4
l18n==2021.3
oauthlib==3.2.2
openpyxl==3.1.2
posthog==3.5.0
prettytable==3.11.0
psycopg2==2.9.6
pycparser==2.21
PyJWT==2.7.0
pytz==2023.3
requests==2.31.0
requests-cache==1.1.0
requests-oauthlib==1.3.1
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
tablib==3.5.0
telepath==0.3.1
tqdm==4.66.5
Unidecode==1.3.6
Willow==1.8.0
XlsxWriter==1.4.5
Pillow==9.5.0
folium==0.20.0
numerize==0.12
