.portals-container {
    padding: 20px;

    .header-section {
        padding-top: 40px;
        gap: 40px;
        opacity: 1;
    }

    .map-section {
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 40px;
        opacity: 1;
    }

    .search-section {
        padding-top: 40px;
        gap: 40px;
        opacity: 1;
    }
}
