.portals-container {
    padding: 20px;

    .header-section {
        padding-top: 40px;
        gap: 40px;
        opacity: 1;

        @media all and (max-width: 375px) {
            .container {
                padding: 0;
            }
        }
    }

    .map-section {
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 40px;
        opacity: 1;

        @media all and (max-width: 375px) {
            .container {
                padding: 0;
            }
        }
    }

    .search-section {
        padding-top: 40px;
        gap: 40px;
        opacity: 1;

        @media all and (max-width: 375px) {
            .container {
                padding: 0;
            }
        }
    }
}
