.modal-content { 
    background-color: #fefefe !important;
    border-radius: 6px;
    padding-bottom: 30px !important;
    width: fit-content !important;
    height: fit-content !important;
    .close {
        line-height: 20px;
        &:hover {
            color: #000;
        }
    }
    h1, h2, h3, h4 {
        margin: 15px 0 10px !important;
    }
    p {
        margin: 0;
        text-align: center;
    }

}