{% extends "base.html" %}

{% load static wagtailimages_tags wagtailcore_tags page_tags wagtailmetadata_tags %}

{% block meta_tags %}{% meta_tags %}{% endblock %}

{% block content %}

        <section class="section-banner">
            <div class="container-sm t-center">
                <a href="{{ page.get_parent.url }}" class="link">{% block title %}Blog{% endblock %}<svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.00009 0.855957L0.590088 2.26596L5.17009 6.85596L0.590088 11.446L2.00009 12.856L8.00009 6.85596L2.00009 0.855957Z" fill="#ED5248"/>
                </svg>
                </a>
                <h1>{{ page.post_title }}</h1>
                <p>{% if page.post_subtitle %} {{ page.post_subtitle }} {% endif %}</p>
                <ul class="article-bread-crumbs">
                    {% block owner %}
                        {% if page.author %}
                            <li>
                                {% if blog_author %}
                                    <a href="{% url 'user_post_list' blog_author.username %}">
                                        {% if blog_author.first_name %}
                                            {{ blog_author.first_name }}
                                            {{ blog_author.last_name }}
                                        {% else %}
                                            {{ blog_author.username }}
                                        {% endif %}
                                    </a>
                                {% else %}
                                    {{ page.author }}
                                {% endif %}
                            </li>
                        {% else %}
                            {% if page.owner %}
                                <li><a href="{% url 'user_post_list' page.owner %}">
                                    {{page.owner.first_name}}
                                    {{page.owner.last_name}}
                                </a></li>
                            {% endif %}
                        {% endif %}
                    {% endblock %}
                    {% if page.tags.all %}
                        <li>
                            {% for tag in page.tags.all %}
                                <a href="{% url 'tag_post_list' tag %}">{{ tag }} </a>
                            {% endfor %}
                        </li>
                    {% endif %}
                    {% block date %}
                    <li>{{ page.created|date:"d M Y" }}</li>
                    {% endblock %}
                </ul>
            </div>
            {% if page.main_image.file.name != "original_images/default" and not page.imported %}
                {% image page.main_image fill-1440x600 as image %}
                <img src="{{ image.url }}" alt="{{ image.alt }}">
            {% endif %}
        </section>
        <div class="container-sm article blog-event">
            {% for body in page.body %}
                {% include_block body %}
            {% endfor %}
        </div>
        
        <div class="more-posts-bottom">
            <div class="container-md">
            {% block more_posts %}
                <div class="indent">
                    <div class="container-sm t-center">
                        <span class="upper">More posts</span>
                    </div>
                </div>
                {% for post in last_posts %}
                    {% include "../snippets/blog_post_block.html" with post=post %}
                {% endfor %}
            {% endblock %}
            </div>
                {% include "../snippets/connect_with_ckan_block.html" %}
        </div>
       

{% endblock content %}
