{% extends "base.html" %}
{% load wagtailmetadata_tags %}

{% block head %}
    <meta name="description" content="{{ page.title }} - {{ page.subtitle }}">
{% endblock head %}

{% block meta_tags %}{% meta_tags %}{% endblock %}

{% block content %}

<section class="section-banner">
    <div class="container-sm t-center">
        <h1> {{ page.subtitle }}</h1>
    </div>
    <div class="photo">
        <img src="{{ image.url }}" alt="{{ image.alt }}">
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            {{ page.body }}
        </div>
    </div>
</div>

{% endblock content %}
