.footer {
  padding: 40px 0;
  background: #f4f4f4;
  @media all and (min-width: 768px){
    .two-columns {
      .two-columns-item {
        margin-bottom: 0;
        .two-columns-item:first-of-type {
          width: calc( 50% - 15px);
        }
        .two-columns-item:last-of-type {
          width: calc( 50% - 15px);
        }
      }
    }
  }
  #contact {
    font-weight: bold;
    font-size: 18px;
  }
  span{
    display: inline-block;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.07em;
    color: #555;
  }
  p{
    color: #333;
    font-size: 16px;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      margin-bottom: 20px;
    }
    @media all and (min-width: 768px){
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      li:first-of-type{
        margin-right: 60px;
      }
    }
    @media all and (max-width: 450px){
      margin-bottom: 20px;
    }
  }
}

.social-container {
  position: relative;
}


.auth-links {
  position: inherit !important;
  width: 100%;
  bottom: 24px;
  li {
    margin-right: 30px !important;
    a {
      color: #666;
      font-family: "SF Pro Display Bold", sans-serif;
      align-items: center;
      font-weight: 800;
      transition: all 0.3s ease-in-out;
      font-size: 15px;
      text-decoration: none;
    }
  }
}

.footer-btns {
  display: flex;
  bottom: 35px;
  right: 0;
  li {
    margin: 0px !important;
    margin-left: 1% !important;
    display: inline;
    a {
      padding-left: 0px !important;
      padding-right: 7px !important;
    }
  }
}

@media all and (max-width: 940px) {
  .footer-btns {
    display: block;
  }
}

@media all and (max-width: 768px) {
  .footer-btns {
    display: flex;
  }
}

@media all and (max-width: 450px) {
  .footer-btns {
    display: block;
  }
}

.footer-subscribe {
  background-color: none;
  padding: 0px 2px;
  border: 1px solid #777;
  margin: -10px 0 20px;
  .row {
    display: flex;
    margin: 0;
    @media all and (max-width: 950px) {
      display: block;
    }
  }
  input[type=text] {
    background-color: transparent;
    color: #333;
    border: none;
    height: 34px;
    font-size: 16px;
    @media all and (max-width: 950px) {
      text-align: center;
    }
  }
  input[type=submit] {
    background: $btn-grey-color;
    border: 1px solid #777;
    border-radius: 0;
    color: $white;
    @media all and (max-width: 950px) {
      width: 100%;
      justify-content: center;
    }
    svg{
      path{
        fill: $white;
      }
    }
    &:active,
    &:focus,
    &:hover{
      background: #f4f4f4;
      color: $btn-grey-color;
      svg{
        path{
          fill: $dark-gray;
        }
      }
    }
  }
}