.footer {
  padding: 40px 0;
  background: #f4f4f4;
  @media all and (min-width: 768px){
    .two-columns {
      .two-columns-item:first-of-type {
        width: calc( 55% - 15px);
      }
      .two-columns-item:last-of-type {
        width: calc( 44.5% - 15px);
      }
    }
  }
  #contact {
    font-weight: bold;
    font-size: 18px;
  }
  span{
    display: inline-block;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.07em;
    color: #555;
  }
  p{
    color: #333;
    font-size: 16px;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      margin-bottom: 20px;
    }
    @media all and (min-width: 768px){
      display: flex;
      align-items: center;
      li:first-of-type{
        margin-right: 60px;
      }
    }
  }
}

.social-container {
  position: relative;
}


.auth-links {
  position: absolute !important;
  width: 100%;
  bottom: 24px;
  li {
    margin-right: 30px !important;
    a {
      color: #666;
      font-family: "SF Pro Display Bold", sans-serif;
      display: flex;
      align-items: center;
      font-weight: 800;
      transition: all 0.3s ease-in-out;
      font-size: 15px;
      text-decoration: none;
    }
  }
}

.footer-btns {
  position: absolute !important;
  bottom: 35px;
  right: 0;
  li {
    margin: 0px !important;
    margin-left: 1% !important;
    display: inline;
    a {
      padding-left: 7px !important;
      padding-right: 7px !important;
    }
  }
}

@media all and (max-width: 767px) {
  .footer-btns {
    bottom: -15px;
  }
  .auth-links {
    bottom: -29px;
  }
  .auth-links {
    li {
      margin-bottom: 2px !important;
    }
  }
}

@media all and (max-width: 362px) {
  .footer-btns {
    li {
      display: block;
      margin-top: 10px !important;
    }
  }
}
