#dropbtn-Solutions,
#dropbtn-Support {
  display: flex;
  width: 100%;
  margin-right: 30px;
  align-items: center;
  color: $medium-gray;
  background-color: transparent;
  background: url("../img/arr-grey.png") no-repeat;
  background-position: right 20px bottom 3px;
  border: none;
  font-family: $base-font-sans-serif;
  font-weight: 800;
  font-size: 15px;
  line-height: 1;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  @media (max-width: 1024px) {
    font-size: 16px;
    line-height: 20px;
  }
}

#dropbtn-Solutions.active,
#dropbtn-Support.active {
    color: $dark-black;
    background: url("../img/arr-black.png") no-repeat;
    background-position: right 20px bottom 3px;
}

#dropbtn-Solutions.opened,
#dropbtn-Support.opened,
#dropbtn-Solutions.opened:hover,
#dropbtn-Support.opened:hover {
    color: $dark-black;
    background: url("../img/arr-black-up.png") no-repeat;
    background-position: right 20px bottom 3px;
}

#dropbtn-Solutions:focus,
#dropbtn-Support:focus {
  outline: 0;
}

#dropbtn-Solutions:hover,
#dropbtn-Support:hover {
  color: $dark-black;
  background: url("../img/arr-black.png") no-repeat;
  background-position: right 20px bottom 3px;
}

.dropdown {
  position: relative;
  display: inline-block;

  @media (max-width: 1024px) {
    padding: 13px 7vw;

    button {
      padding-left: 0px;
    }
  }
}

.dropdown-content {
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: $white-anti-flash;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  cursor: pointer;
  color: $medium-gray;
  font-family: $second-font-sans-serif;
  display: flex;
  align-items: center;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  text-decoration: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: $light-gray-hover;
    color: $black;
  }

.show {display:block;}
