.main {
  position: relative;
  z-index: 1;
  padding-top: 120px;
  @media all and (max-width: 1023px){
    padding-top: 64px;
  }
}
.block-lg {
  padding-top: 50px;
  background: $gray-background;
  border: 1px solid $gray-border;
}
.flex-box{
  margin-bottom: 25px;
  @media all and (min-width: 768px){
    display: flex;
    align-items: center;
    justify-content: space-around;
    p {
      margin-bottom: 0;
      font-size: $body_medium;
    }
  }
}
.flex{
  display: flex;
}
.v-center{
  align-items: center;
}
.t-center{
  text-align: center;
  img{
    margin: 0 auto;
  }
  p {
    text-align: center;
  }
}
.m-centered{
  @media all and (max-width: 767px){
    display: flex;
    justify-content: center;
  }
}
.centered{
  display: flex;
  justify-content: center;
}
.between{
  justify-content: space-between;
}
.red{
  color: $red;
}
.grey{
  color: $dark-gray;
  &:hover{
    color: $dark-gray;
  }
}
.black{
  color: $black;
  &:hover{
    color: $black;
  }
}
.separator{
  margin: 50px auto;
  height: 1px;
  background: $light-gray;
  width: 190px;
  @media all and (max-width: 767px){
    margin: 32px auto;
  }
  &.alt{
    background: transparent;
  }
}
.dark-black-bg{
  background: $dark-black;
  @include ii;
  color: $white;
  h4,
  h3,
  h2{
    color: $white;
  }
}
.grey-bg{
  background: #F4F4F4;
  padding: 10px 0;
}
.gradient{
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 400px;
    bottom: 100%;
    z-index: -1;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );

  }
}
.indent{
  margin-top: 60px;
  margin-bottom: 60px;
  &.indent-accent {
    background: $gray-background;
    .block-lg {
      border: none;
    }
  }
  @media all and (max-width: 767px){
    margin-bottom: 24px;
  }
}
.inner-indent{
  padding-bottom: 40px;
}
.mobile-controls{
  position: relative;
}
@media all and (max-width: 767px){
  .mobile-hidden{
    display: none !important;
  }
}
@media all and (min-width: 768px){
  .desktop-hidden{
    display: none !important;
  }
}
.text-block.bottom-text{
  display: table;
  margin: 0 auto;
}
.text-block{
  max-width: 850px;
  margin-bottom: 50px !important;
  .h1{
    max-width: 740px;
    & + p{
      font-size: 18px;
    }
  }
}
.upper{
  text-transform: uppercase;
  color: #444;
  font-size: 24px;
  line-height: 16px;
}
.body_extra_large{
  font-size: $body_extra_large;
  line-height: 28px;
  color: $dark-gray;
  @media all and (max-width: 767px){
    font-size: 18px;
    line-height: 24px;
  }
}

.ckan-git {
  margin-top: 0px !important;
  background: white;
  -ms-flex: 0 0 440px;
  flex: 0 0 440px;
  border: 1px solid #ebebed;
  margin: 0px 5%;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  margin-top: 50px;
}

.ckan-git-repo-text {
  color: #5b626c;
  font-size: 14px;
  padding: 3px;
  margin-top: 4px;
  text-align: justify;
}

.ckan_git_link{
  text-decoration:none;
}

.powering_text {
  font-size: 20px !important;
}

.modal__title {
  color: #333 !important;
}

.modal__btn-primary {
  background-color: #333 !important;
}

.modal__btn {
  float: left;
}

.modal__container {
  .modal__content {
    margin-bottom: 1rem;
  }
}

.modal__content textarea {
  height: 80px;
}

.modal__footer {
  width: 50%;
  height: 30px;
}

.modal__container {
  overflow-x: hidden;
}

.contactFormError::-webkit-input-placeholder {
  color: rgb(216, 106, 106) !important;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 30%;
  text-align: center;
}

.modal-content {
  h4 {
    margin-top: 50px;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #0000EE;
  text-decoration: none;
  cursor: pointer;
}


.footer {
  margin-bottom: -40px;
  #contact{
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.07em;
    color: #555;
    text-decoration: none;
  }
}

#extension-link {
  text-decoration: none;
  p {
    color: #111;
  }
}

.developers,
.stewards {
  margin-top: 40px;
}

.developers {
  padding-bottom: 0px;
}

.former {
  margin-top: 60px; 
  margin-bottom: 60px;
}

.government-working-group {
  padding-top: 50px;
}

.feature-list {
  li {
    padding: 0px 5%;
  }
}

.skan-for-card-block:hover {
  cursor: pointer;
}

.quotes-slider.top {
  margin: 90px 0px !important;
}

input[type=text]:-webkit-autofill {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

#stewards {
  height: 90px;
}

.commercial-title {
  padding-top: 40px;
  font-weight: 300;
  font-size: 28px;
}

.commercial-subtitle {
  padding-top: 20px;
  font-size: 18px;
}

.commercial-item {
  padding: 10px;
  background-color: #fff;
  border: 1px solid rgb(248, 248, 248);
  position: relative;
  padding-bottom: 40px;
}
.commercial-item-dummy {
  border: none;
}

.commercial-items {
  padding: 30px 0px 60px 0px;
}

.commercial-info {
  padding-left: 30px;
  padding-bottom: 30px;
  a:hover {
    text-decoration: none !important;
  }
}

.commercial-name {
  color: #c0392b;
}

.commercial-level {
  padding-top: 10px;
  font-size: 14px;
  color: #999;
  font-style: italic;
}

.commercial-about {
  padding-top: 25px;
  color: #767676;
  font-size: 16px;
  text-align: justify;
}

.commercial-bottom {
  padding: 10px 0 10px 30px;
  position: absolute;
  color: #999;
  font-size: 16px;
  bottom: 0px;
  width: 95%;
  border-top: 1px solid rgb(248, 248, 248);
}

.commercial-details {
  color: #c0392b;
  font-size: 16px;
  display: block;
  float: right;
  margin-right: 30px;
}

.commercial-details:hover {
  color: #c0392b;
  text-decoration: none !important;
}

.commercial-date {
  float: left;
}

.middle-page-table {
  display: table;
	margin: 0 auto;
}

.schedule-chat-contact,
.speak-with-us-home,
.webinar-contact,
.ask-question {
  #contact {
    font-size: 0;
    display: inline-flex;
    width: 210px;
    height: 50px;
    text-decoration: none;
    color: white;
    background: #333;
    color: #fff;
    outline: none;
    border: 2px solid #333;
    padding: 7px 20px;
    line-height: 1.3;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: border 0.3s ease-in-out, color 0.3s ease-in-out, background 0.3s ease-in-out;
    border-radius: 100px;
  } 
  #contact:hover {
    background: #fff;
    color: #333;
  }
  #contact:after {
    font-size: 16px;
    font-weight: 400;
    font-size: 20px;
  }
}

.schedule-chat-contact {
  #contact:after {
    content: 'Schedule a chat';
  }
}

.speak-with-us-home {
  #contact:after {
    content: 'Schedule a meeting';
  }
}

.webinar-contact {
  #contact:after {
    content: 'Get an invite';
  }
}

.ask-question {
  #contact:after {
    content: 'Ask a question';
  }
}

#stewards_link {
  font-size: 20px;
}

.speak-with-us,
.get-started,
.block-paragraph {
    a {
    font-size: 20px;
  }
}

.banner-info,
.speak-with {
  a {
    font-size: 20px;
  }
  .text {
    font-size: 20px;
    line-height: 26px;
  }
}

.feature-img {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

.card.commercial {
  img {
    box-shadow: none;
  }
}

input.waiting[type='text'] {
  background: url("../img/spin.gif") no-repeat;
  background-position: right 10px top 6px;
}

#let_us_know {
  margin-bottom: 0px;

}
#let_us_know + .row{
  display: inline-block;
  a {
    font-size: 0px;
  }
  a:after {
    content: 'let us know';
    font-size: 20px;
  }
}

.social {
  #link {
    background: url("../img/Globe.svg") no-repeat;
    display: block;
    width: 20px;
    height: 20px;
  }
  #link:hover {
    background: url("../img/Globe-black.svg") no-repeat;
  }
}
#id_how_you_heard_about_us {
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}

.ckan-git-repo-info img,
.ckan-git-repo-info span{
  display: inline-block;
}

.ckan-git-repo-info span {
  font-size: 13px;
  color: #555;
  margin-top:14px;
}

.ckan-repo {
  img {
    float: left;
    margin-top: -3px;
  }
  span {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #ED5248;
  }
}

.counter {
  margin-left: -1px;
}

.user-posts {
  margin: 60px 0px;
  span {
    font-weight: bold;
  }
}

.ckanorg-auth-form {
  .bad-token {
    margin: 70px 0;
  }
  margin: 70px 35%;
  p {
    a {
      font-size: 20px !important;
    }
  }  
  form {
    .errorlist {
      li {
        color: #ED5248;
      }
    }
    p {
      a {
        font-size: 20px !important;
      }
      label {
        font-size: 16px !important;
      }
      input {
        max-width: 100% !important;
      }
      input[type=email]:-webkit-autofill,
      input[type=password]:-webkit-autofill {
        box-shadow: none;
        -webkit-box-shadow: none;
      }
    }
    .secondaryAction {
      margin-right: 20px;
    }
  }
}

.signup {
  p {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 1280px) {
  .ckanorg-auth-form {
    margin: 40px 33%;
  }
}
@media all and (max-width: 1185px) {
  .ckanorg-auth-form {
    margin: 40px 30%;
  }
}
@media all and (max-width: 1023px) {
  .ckanorg-auth-form {
    margin: 40px 25%;
  }
  input::placeholder {
    font-size: 18px;
  }
}
@media all and (max-width: 767px) {
  .ckanorg-auth-form {
    margin: 40px 15%;
    p {
      a {
        font-size: 16px !important;
      }
    } 
  }
}
@media all and (max-width: 362px) {
  .ckanorg-auth-form {
    margin: 40px 15px;
  }
}

.event-page-start-date {
  display: inline;
  margin-left: 8px;
  color: #666;
}

.section-event-text {
  font-family: "SF Pro Display Bold", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 42px;
  color: #000000;
  margin: 26px 0 -24px 0;
  @media all and (max-width: 362px) {
    font-size: 24px;
    margin-bottom: 13px !important;
  }
}

.featured {
  @media all and (max-width: 362px) {
    margin-bottom: -36px !important;
  }
}

.upcoming {
  margin: -21px 0 33px 0;
  @media all and (max-width: 768px) {
    margin-top: 15px !important;
  }
}

.past-events {
  .row {
    align-items: normal;
  }
  a {
    text-decoration: none;
  }
  .past-event-title:hover {
    color: #000;
  }  
}

.past-event-title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  display: block;
  text-decoration: none;
}

.past{
  padding-left: 0;
}

.past-list {
  margin: 26px 0 31px 0;
}

.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: right;
}

.featured-event {
  position: relative;
  svg {
    margin-top: 0px;
  }
  .start-date {
    position: absolute;
    font-size: 15px;
    top: 1px;
    left: 28px;
    color: #666666
  }
}

.featured-post-subtitle {
  display: block;
  margin-top: 6px !important;
}

.upcoming-event,
.past-event {
  position: relative;
  span {
    display: block;
    position: absolute;
    color: #666666;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    top: 2px;
    left: 28px;
  }
}

.past-event{
  margin: 7px 0 11px 0;
}

.post-info {
  p {
    margin-top: 10px;
  }
}

.row.narrow {
  display: none;
  .col-sm {
    width: 50%;
  }
  .col-sm:first-of-type {
    float: left;
  }
  .col-sm:last-of-type {
    float: left;
  }
  .past {
    margin-bottom: 20px;
  }
  @media all and (max-width: 767px) {
    display: block;
  }
}

.wide {
  @media all and (max-width: 767px) {
    display: none;
  }
}

.featured-event.top {
  display: none;
  @media all and (max-width: 362px) {
    font-size: 11px;
  }
  @media all and (max-width: 767px) {
    display: block;
    margin-bottom: 4px;
  }
}

.featured-event.bottom {
  @media all and (max-width: 767px) {
    display: none;
  }
}


.upcoming-event.top {
  display: none;
  @media all and (max-width: 767px) {
    display: block;
  }
}

.upcoming-event.bottom {
  @media all and (max-width: 767px) {
    display: none;
  }
}

.post {
  .post-img {
    img {
      @media all and (max-width: 767px) {
        width: 100%;
        max-height: 100%;
      }
    }
  }
}

.waiting {
  font-size: 38px;
  font-weight: bold;
  font-family: "SF Pro Display Bold", sans-serif;
  margin: 40px 0 100px 0;
}

.blog-event {
  font-size: 16px;
}

form {
  &.login,
  &.signup {
    .g-recaptcha {
      margin-top: 0;
      margin-left: 0;
    }
  }
}

img {
  &.left {
    margin-right: 25px;
  }
  &.right {
    margin-left: 25px;
  }
  &.full-width {
    width: 100%;
  }
  &.dpga-logo {
    width: 190px;
  }
}
