

{% load static wagtailimages_tags wagtailcore_tags events_tags %}
{% image post.main_image fill-520x390 as image %}

<div class="post">
    {% if post.start_date %}
        <div class="upcoming-event top">
            {% include 'events/calendar.svg' %}
            <span>{% event_start post.start_date %}</span>
        </div>
    {% endif %}
    <div class="post-img narrow">
        <a href="{{ post.url }}">
        {% if image.url %}
            <img src="{{ image.url }}" alt="{{ image.alt }}">
        {% else %}
            <img src="{% static 'img/Default_image.png' %}" alt="default image">
        {% endif %}
        </a>
    </div>
    <div class="post-info">
        {% if post.start_date %}
            <div class="upcoming-event bottom">
                {% include 'events/calendar.svg' %}
                <span>{% event_start post.start_date %}</span>
            </div>
        {% else %}
            <span class="date">In Category on {{ post.first_published_at|date:"d M Y" }}</span> <br>
        {% endif %}
        <a href="{{ post.url }}"><h2 class="h2">{{ post.post_title }}</h2></a>
        <p>{% if post.post_subtitle %} {{ post.post_subtitle }} {% endif %}</p>
    </div>
</div>
