<section class="object">
    <h2 class="">To add a Blog post</h2>
    <div class="object-layout">
        <table class="listing">
            <colgroup><col>
            <col width="30%">
            <col width="15%">
            <tbody>
                <tr>
                    <td class="title" valign="top">
                        <div class="title-wrapper">
                            1. Write your article
                        </div><br>
                        <div class="title-wrapper">
                            2. Save the Draft and Send it to moderation
                        </div><br>
                        <div class="title-wrapper">
                            3. If it wasn’t approved check moderator’s comments in the article history
                        </div><br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="object collapsible">
    <h2 class="title-wrapper">Quick Links</h2>
    <div class="object-layout">
        <table class="listing listing-page">
            <colgroup><col>
            <col width="30%">
            <col width="15%">
            </colgroup><thead>
                <tr>
                    <th class="title">Title</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="title" valign="top">
                        <div class="title-wrapper">
                            <a href="/admin/pages/add/blog/blogpostpage/{}/" target="_blank">Create new Blog Post</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
