

{% load static wagtailimages_tags wagtailcore_tags events_tags %}
{% image post.main_image fill-520x390 as image %}

<div class="post">
    {% if post.start_date %}
        <div class="upcoming-event top">
            {% include 'events/calendar.svg' %}
            <span>{% event_start post.start_date %}</span>
        </div>
    {% endif %}
    <div class="post-img narrow">
        <a href="{{ post.url }}">
        {% if image.url %}
            <img src="{{ image.url }}" alt="{{ image.alt }}">
        {% else %}
            <img src="{% static 'img/Default_image.png' %}">
        {% endif %}
        </a>
    </div>
    <div class="post-info">
        {% if post.start_date %}
            <div class="upcoming-event bottom">
                {% include 'events/calendar.svg' %}
                <span>{% event_start post.start_date %}</span>
            </div>
        {% else %}
            <span class="date">In Category on {{ post.created|date:"d M Y" }}</span> <br>
        {% endif %}
        <a href="{{ post.url }}"><h2 class="h2">{{ post.post_title }}</h2></a>
        <p>{% if post.post_subtitle %} {{ post.post_subtitle }} {% endif %}</p>
        <a href="{{ post.url }}">Read <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.00009 0.855957L0.590088 2.26596L5.17009 6.85596L0.590088 11.446L2.00009 12.856L8.00009 6.85596L2.00009 0.855957Z" fill="#ED5248"/>
        </svg></a>
    </div>
</div>
