

{% load static wagtailimages_tags wagtailcore_tags events_tags %}
{% image post.main_image fill-520x390 as image %}

        <a href="{{ post.url }}">
        {% if image.url %}
            <img src="{{ image.url }}" alt="{{ image.alt }}">
        {% else %}
            <img src="{% static 'img/Default_image.png' %}">
        {% endif %}
        </a>

            <div class="past-event bottom">
                {% include 'events/calendar.svg' %}
                <span>{% event_start_date post.start_date %}</span>
            </div>

        <a href="{{ post.url }}" class="past-event-title">{{ post.post_title|truncatechars:40 }}</a>
        <a href="{{ post.url }}">Read <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.00009 0.855957L0.590088 2.26596L5.17009 6.85596L0.590088 11.446L2.00009 12.856L8.00009 6.85596L2.00009 0.855957Z" fill="#ED5248"/>
        </svg></a>


 