

{% load static wagtailimages_tags wagtailcore_tags events_tags %}
{% image post.main_image fill-520x390 as image %}

        <a href="{{ post.url }}">
        {% if image.url %}
            <img src="{{ image.url }}" alt="{{ image.alt }}">
        {% else %}
            <img src="{% static 'img/Default_image.png' %}">
        {% endif %}
        </a>

            <div class="past-event bottom">
                {% include 'events/calendar.svg' %}
                <span>{% event_start_date post.start_date %}</span>
            </div>

        <a href="{{ post.url }}" class="past-event-title">{{ post.post_title|truncatechars:40 }}</a>


 