
{% load static wagtailimages_tags wagtailcore_tags %}
{% image post.main_image fill-1070x500 as image %}

<div class="post first">
    {% if featured_post_start_date %}
        <div class="featured-event top">
            {% include 'events/calendar.svg' %}
            <span class="start-date">{{ featured_post_start_date }}</span>
        </div>
    {% endif %}
    <div class="post-img">
        <a href="{{ post.url }}"><img src="{{ image.url }}" alt="{{ image.alt }}"></a>
    </div>
    <div class="post-info">
        {% if featured_post_start_date %}
            <div class="featured-event bottom">
                {% include 'events/calendar.svg' %}
                <span class="start-date">{{ featured_post_start_date }}</span>
            </div>
        {% else %}
            <span class="date">FEATURED</span>
        {% endif %}
        <a href="{{ post.url }}"><h2 class="h2">{{ post.post_title }}</h2></a>
        <p class="featured-post-subtitle">{% if post.post_subtitle %} {{ post.post_subtitle }} {% endif %}</p>
    </div>
</div>
