{% load static page_tags wagtailimages_tags %}

{% for card in self.cards %}
    {% image card.image_top scale-100 as img_top %}
    {% image card.image_bottom scale-100 as img_bottom %}
    <div class="container-fluid ">
        <div class="row">
            <div class="col ckan-git">
                <a href="{{ card.external_link }}" target="_blank" rel="noopener" class="ckan_git_link">
                    {% comment %}%<img src="{{ img_top.url }}" alt="{{ img_top.alt }}">{% endcomment %}
                     <div class="ckan-repo">
                        <img src="{% static 'img/git-book.png' %}" />
                        <span>ckan</span>
                    </div>
                    <div class="ckan-git-repo-text">
                        {{ card.text }}
                    </div>
                    <div class="ckan-git-repo-info">
                        <img src="{% static 'img/python-dot.png' %}" />
                        <span>Python</span>
                        <img src="{% static 'img/star.png' %}" />
                        <span class="counter">{% stars_count %}</span>
                        <img src="{% static 'img/fork.png' %}" />
                        <span class="counter">{% forks_count %}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endfor %}            