{% load static wagtailimages_tags page_tags %}

{% image member.image scale-100 as image %}

<div class="gwg-columns-item">
    <div class="gwg-card">
        <div class="gwg-card-img">
            <a href="{{ member_url }}"><img src="{{ image.url }}" alt="{{ image.url }}"></a>
        </div>
        <div cl ass="gwg-card-info">
            <p>{{ member.description }}</p>
            <a href="{{ member.url }}">View profile <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.00009 0.855957L0.590088 2.26596L5.17009 6.85596L0.590088 11.446L2.00009 12.856L8.00009 6.85596L2.00009 0.855957Z" fill="#ED5248"/>
            </svg></a>
        </div>
    </div>
</div>
