.logo {
  a {
    display: flex;
  }

  img {
    vertical-align: top;
    max-width: 176px;
    max-height: 48px;
    @media all and (max-width: 1024px){
      max-width: 100px;
      max-height: 28px;
    }
  }
}

