.article-bread-crumbs{
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  li{
    padding: 0 22px;
    margin-bottom: 10px;
    position: relative;
    font-size: 16px;
    color: $medium-gray;
    &:after{
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      background: #ccc;
      border-radius: 5px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-of-type:after{
      display: none;
    }
  }
}

.article{
  h3{
    color: #444;
  }
  pre {
    margin: 50px 0;
  }
  p:not(:last-child) {
    margin: 0 0 20px;
  }
  figure {
    img {
      width: 100vw;
      max-width: 100vw;
    }
  }
  blockquote {
    padding: 20px 0 20px 40px;
    border-left: 5px solid $red;
    color: $medium-gray;
    text-align: justify;
    font-family: "SF Pro Display", sans-serif;
    font-style: italic;
    &::before {
      content: "\201C";
      color: $red;
      font-size: 4em;
      position: absolute;
      left: 10px; top: -10px;
      font-family: Arial, sans-serif;
    }
  }
}

.more-posts-bottom {
  margin-top: 40px;
  padding-top: 1px;
  margin-bottom: -30px;
  padding-bottom: 60px;
  background: #f4f4f4;
}

.message_404_500 {
  height: 550px;
  text-align: center;
  padding-top: 200px;
}

.post .post-info a:hover {
  text-decoration: none;
}