.post{
  margin-bottom: 60px;
  @media all and (max-width: 767px) {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
    padding: 20px 14px;
    background: $white;
    margin: 0 -14px 10px;
  }
  @media all and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  .post-img{
    height: 155px;
    position: relative;
    @media all and (max-width: 767px) {
      margin-bottom: 10px;
    }
    @media all and (min-width: 768px) {
      order: 2;
      flex-basis: 50%;
      flex-shrink: 0;
      height: 390px;

    }
    img{
      width: auto;
      height: 100%;
      object-fit: cover;
      font-family: "object-fit: cover;";
    }
  }
  .post-info{
    background: $white;
    @media all and (min-width: 768px) {
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
      padding: 30px;
      flex-basis: 70%;
      margin-right: -20%;
      position: relative;
      z-index: 1;
    }
    .date{
      margin-bottom: 10px;
      display: block;
      font-size: 15px;
      line-height: 16px;
      text-transform: uppercase;
      @media all and (max-width: 767px) {
        font-size: 11px;
      }
    }
    .h2{
      color: $black;
      font-size: 30px;
    }
    p{
      margin-bottom: 0;
      @media all and (min-width: 768px) {
        margin-bottom: 10px;
      }
    }
    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
.post.first{
  position: relative;
  margin-top: 50px;
  .post-img{
    @media all and (min-width: 768px) {
      flex-basis: 100%;
      height: 500px;
      order: 1;
    }
  }
  .post-info{
    @media all and (min-width: 768px) {
      margin-right: 0;
      margin-left: 10%;
      position: absolute;
      width: 59%;
      bottom: -40px;
    }
  }
}
.ground{
  background: #f3f3f3;
  margin-top: -180px;
  padding-top: 200px;
  overflow: hidden;
  @media all and (max-width: 767px) {
    padding-top: 146px;
  }
}
.ground-list{
  background: #f3f3f3;
  margin-top: -100px;
  padding-top: 120px;
  overflow: hidden;
  @media all and (max-width: 767px) {
    padding-top: 90px;
  }
}
.author{
  display: flex;
  margin: 20px 20px 20px 20px;
  .member-ava{
    margin-right: 20px;
    border-radius: 6px;
    overflow: hidden;
    width: 100px;
    height: 120px;
    flex-shrink: 0;
    position: relative;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-family: "object-fit: cover;";
    }
  }
  .member-info{
    .h4{
      margin: 10px 0;
    }
    p{
      margin: 12px 0;
    }
  }
  &.big{
    @media all and (max-width: 1023px){
      display: block;
    }
    .member-ava{
      width: 190px;
      height: 190px;
      @media all and (max-width: 1023px){
        margin: 0 auto 20px;
      }
      @media all and (max-width: 500px){
        width: 100%;
        height: 200px;
      }
    }
    .member-info{
      .h3{
        color: $dark-gray;
      }
      .h4{
        font-family: $base-font-sans-serif;
        font-weight: 400;
        font-size: 18px;
      }
      p{
        font-size: 16px;
        margin-bottom: 0px;
      }
    }
  }
}

/* blog navbar */
ul.blog-nav { 
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none;
  display: inline-block;
  align-items: center;
  justify-content: center;
  @media all and (max-width: 500px) {
    width: 290px;
  }
  li {
    display: inline-block;
    margin-left: 16px;
    height: 25px;
    position: relative;
    @media all and (max-width: 500px) {
      margin-right: 16px;
      margin-left: 0px;
    }
    &:hover {
      transform: scale(1.3);
    }
    a {
      display: inline-block;
      svg {
        path {
          transition: fill 0.3s ease-in-out;
        }
      }
      &:hover {
        svg {
          path {
            fill: #777777;
          }
        }
      }
    }
    &.category {
      display: inline-block;
      margin-right: 16px; 
      margin-left: 16px;
      @media all and (min-width: 500px) {
        margin-left: 16px;
        margin-right: 0px;
      }
      &:hover {
        transform: scale(1.1); 
        transition: transform 0.3s ease-in-out;
      }
    }
    &.first {
      margin-left: 0px;
    }
    &.last {
      margin-right: 0px;
    }
  }
}

/* categories select field in blog navbar */
.styled-select {
  background-color: #ffffff;
  border: 2px solid #000;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  top: 5px;
  width: 200px;
  border-radius: 100px;
  display: inline-block;
  select {
    display: inline-block;
    font-family: "SF Pro Display Bold", sans-serif;
    font-size: 15px;
    padding: 6.5px 12px;
    z-index:9999;
    cursor: pointer;
    background: transparent;
    border: none;
    width:100%;
    max-width: none !important;
    -webkit-appearance: none;
    &:focus {
      outline: none;
      box-shadow: none !important;
    }
    option {
      line-height:30px;
    }
  }
}

/* Social share container */
@import url("https://fonts.googleapis.com/css?family=Lato");

.share-container {
  width: 120px;
  height: 80px;
  background: transparent;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  transform: rotateX(0deg);
  transform-style: preserve-3d;
  &:hover {
    transform: rotateX(-180deg);
  }
  .front {
    box-sizing: border-box;
    width: 120px;
    height: 40px;
    font-family: "SF Pro Display Bold", sans-serif;
    background: #eee;
    border-radius: 25px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    z-index: 2;
    transform: rotateX(0deg);
    background-repeat: no-repeat;
    color: #212c3f;
  }
  .back {
    box-sizing: border-box;
    width: 120px;
    height: 80px;
    border-radius: 6px;
    position: absolute;
    background: #fff;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transform: rotateX(180deg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .twitter, .facebook, .linkedin {
      width: 36px;
      height: 36px;
      background: #f00;
      border-radius: 3px;
      transition: background-color 0.3s ease;
      &:hover {
        cursor: pointer;
      }
    }
    .twitter {
      background-color: #55acee;
      padding-top: 5px;
      &:hover {
        background-color: #2795e9;
      }
    }
    .facebook {
      background-color: #3b5998;
      padding-top: 5px;
      &:hover {
        background-color: #2d4373;
      }
    }
    .linkedin {
      background-color: #3f729b;
      padding-top: 5px;
      &:hover {
        background-color: #305777;
      }
    }
  }
}

.pagination{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  li{
    margin: 0 13px;
    a{
      color: $dark-gray;
      text-decoration: none;
      &:active,
      &:hover{
        color: $dark-gray;
        text-decoration: underline;
      }
    }
    &.prev{
      svg{
        transform: rotate(180deg);
        margin-right: 6px;
        path{
          fill: $dark-gray;
        }
      }
      @media all and (min-width: 768px) {
        margin-right: 45px;
      }
      @media all and (max-width: 767px) {
        a{
          font-size: 0;
          line-height: 0;
        }
      }
    }
    &.next{
      svg{
        margin-left: 6px;
        path{
          fill: $dark-gray;
        }
      }
      @media all and (min-width: 768px) {
        margin-left: 45px;
      }
      @media all and (max-width: 767px) {
        a{
          font-size: 0;
          line-height: 0;
        }
      }
    }
    &.disabled{
      a{
        color: $light-gray-2;
        pointer-events: none;
      }
      svg{
        path{
          fill: $light-gray-2 !important;
        }
      }
    }
  }
}
.white-box{
  background: $white;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 40px;
  margin: 30px 0;
  @media all and (max-width: 767px) {
    padding: 20px;
  }
  @media all and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.subscribe{
  >div{
    margin-bottom: 24px;
  }
  @media all and (max-width: 767px) {

  }
  @media all and (min-width: 768px) {
    >div{
      margin-bottom: 0;
    }
  }
  p{
    font-size: 18px;
    margin-bottom: 0;
    @media all and (max-width: 767px) {
      font-size: 14px;
    }
  }
  form{
    flex: 1 0 auto;
    .row{
      margin-bottom: 0;
      justify-content: flex-end;
    }
  }
}
.mb0{
  margin-bottom: 0;
}

.blog-subscribe {
  background: url('/static/img/newsletter-blog.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50%;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  margin-top: 50px;
  .blog-subscribe-content {
    padding: 40px 40px;
    width: 100%;
    h2 {
      font-size: 30px;
      font-weight: 800;
      line-height: 42px;
      color: #333;
      text-align: center;
    }
    p:not(:last-child) {
      margin: 0 0 10px;
      text-align: center;
    }
    .title {
      font-size: 15px;
      text-transform: uppercase;
    }
    .info {
      margin-bottom: 30px !important;
      font-size: 13px;
      text-align: justify !important;
    }
    .blog-subscribe-form, .blog-unsubscribe-form {
      margin-top: 30px;
      input[type=text] {
        background-color: transparent;
        color: #333;
        border: none;
        border-bottom: 1px solid #777;
      }
      input[type=submit] {
        background: $btn-grey-color;
        border: 2px solid $btn-grey-color;
        border-radius: 100px;
        color: $white;
        svg{
          path{
            fill: $white;
          }
        }
        &:active,
        &:focus,
        &:hover{
          background: transparent;
          color: $btn-grey-color;
          svg{
            path{
              fill: $dark-gray;
            }
          }
        }
      }
    }
    .unsubscribe-section {
      display: flex;
      justify-content: right;
      label[for=blog_unsubscribe_newsletter] {
        margin-bottom: 0;
        font-size: 13px;
      }
    }
  }
}

.rss {
  position: absolute;
  margin-top: -10px;
  margin-left: 5px;
}