.subscribe-page-content {
    margin-top: 30px;
}

.two-columns-item {
    &.subscribe-page-info {
        display: flex;
        align-items: center;
    }
    &.subscribe-page-form {
        display: flex;
        align-items: center;
        .blog-subscribe {
            border-radius: 0;
            box-shadow: none;
        }
    }
}
