{% load wagtailcore_tags %}


{{ page.title }}
{{ page.intro|richtext }}

<form action='{% pageurl page %}' method='POST', role='form' id="contact-page-form">
    {% csrf_token %}

    {% for field in form %}
        <div class="row">
            <div class="form-group">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
                {{ field }}
                {% if field.errors %}
                    {% for err in field.errors %}
                        * {{ err|escape }}{% if not forloop.last %} <br> {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <br>
    {% endfor %}
    <div id="recaptcha-container-contact-page-form"></div>
    <input type="submit" hidden>
    <button type="button" class="captcha-submit submit-btn" id="contact-page-button" data-form-id="contact-page-form">
        {{ _('Submit') }}
    </button>
</form>