<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form submission from ckan.org</title>
  </head>
  <body>
    <tr>
      <td> <b>Sender name:</b> </td> <td> {{ sender_name }} </td>
    </tr><br>
    <tr>
      <td> <b>Sender Company/Organization Name:</b> </td> <td> {{ sender_company }} </td>
    </tr><br>
    <tr>
      <td> <b>Sender e-mail address:</b> </td> <td> {{sender_e_mail_address }} </td>
    </tr><br>
    <tr>
     <td> <b>Are you interested in the technical or non-technical aspects of CKAN?</b> </td> <td> {{ are_you_interested_in_the_technical_or_non_technical_aspects_of_ckan }} </td>
    </tr><br>
    <tr>
      <td> <b>Would you like to suggest a topic for one of our future meetups?</b> </td> <td> {{ would_you_like_to_suggest_a_topic_for_one_of_our_future_meetups }} </td>
    </tr><br>
      <td> <b>Any comments or something you'd like to share?</b> </td> <td> {{ any_comments_or_something_youd_like_to_share }} </td>
    </tr><br>
    <tr>
      <td> <b>Would you like to automatically be invited to future meetups on CKAN Monthly Live?</b> </td> <td> {{ would_you_like_to_automatically_be_invited_to_future_meetups_on_ckan_monthly_live_they_happen_every_third_wednesday_of_the_month_at_1_pm_utc }} </td>
    </tr><br>
    <tr>
      <td> <b>Would you like to be informed about other CKAN news and updates?</b> </td> <td> {{ would_you_like_to_be_informed_about_other_ckan_news_and_updates }} </td>
    </tr>
  </body>
</html>

