{% load wagtailcore_tags %}

{% if form %}

<div class="row">
    <div class="col-xs-1 text-capitalize" align="center">
        <a data-micromodal-trigger="modal-1" href="javascript:void(0);" id="contact">Contact Us</a>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" id="modal-content" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          {{ form_page.title }}
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <form action="{% pageurl form_page %}" method="POST" role="form" id="contact-modal">
        <main class="modal__content" id="modal-1-content">
          {% csrf_token %}
          {{ form.as_p }}
          {% if page.pk != form_page.pk %}
          <input name="source-page-id" type="hidden" value="{{ page.pk }}">
          {% endif %}
        </main>
        <footer class="modal__footer">
          <input class="modal__btn modal__btn-primary" type="submit">
        </footer>
      </form>
    </div>
  </div>
</div>
<script>
  function onContactSubmit(token) {
    document.getElementById("contact-modal").submit();
    var modal_content = document.getElementById("modal-content");
    modal_content.style.width = "100%";
    modal_content.innerHTML = `
      <div style="text-align: center; padding: 30px 0px 90px 0px" id="thanks-text">
      <h4>Thank you for getting in touch!</h4>
      <p>We’ll get back to you within one business day!</p></div>`;
  }
</script>
{% endif %}
