<section class="object collapsible">
    <h2 class="title-wrapper">Quick Links</h2>
    <div class="object-layout">
        <table class="listing listing-page">
            <colgroup><col>
            <col width="30%">
            <col width="15%">
            </colgroup><thead>
                <tr>
                    <th class="title">Title</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="title" valign="top">
                        <div class="title-wrapper">
                            <a href="/admin/pages/add/blog/blogpostpage/{}/" target="_blank">Create new Blog Post</a>
                        </div>
                    </td>
                    <td valign="top"></td>
                    <td valign="top"></td>
                </tr>
                <tr>
                    <td class="title" valign="top">
                        <div class="title-wrapper">
                            <a href="/admin/forms/submissions/{}/" target="_blank">Contact us submissions</a>
                        </div>
                    </td>
                    <td valign="top"></td>
                    <td valign="top"></td>
                </tr>
                <tr>
                    <td class="title" valign="top">
                        <div class="title-wrapper">
                            <a href="/admin/contact/email/" target="_blank">Emails submissions</a>
                        </div>
                    </td>
                    <td valign="top"></td>
                    <td valign="top"></td>
                </tr>
                <tr>
                    <td class="title" valign="top">
                        <div class="title-wrapper">
                            <a href="/admin/managers/manager/" target="_blank">View all managers</a>
                        </div>
                    </td>
                    <td valign="top"></td>
                    <td valign="top"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
