@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');
@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-Regular/SFProDisplay-Regular.eot');
  src: url('../fonts/SFProDisplay-Regular/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff') format('woff'),
  url('../fonts/SFProDisplay-Regular/SFProDisplay-Regular.ttf') format('truetype'),
  url('../fonts/SFProDisplay-Regular/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display Bold';
  src: url('../fonts/SFProDisplay-Bold/fontsfree-net-sfprodisplay-bold-webfont.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Bold/fontsfree-net-sfprodisplay-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import "vendor/normalize";
@import "vendor/micromodal";

@import "base/variables";
@import "base/reset";
@import "base/mixins";
@import "base/typography";
@import "base/container";
@import "base/buttons";
@import "base/form";
@import "base/blockquote";
@import "base/row";
@import "base/input-row";
@import "base/modal";

@import "sections/section-banner";
@import "sections/section-partners";
@import "sections/section_community";
@import "sections/feature";
@import "sections/post";
@import "sections/section-gwg";
@import "sections/article";
@import "sections/faq";
@import "sections/subscribe";

@import "layout/wrapper";
@import "layout/main";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";

@import "components/nav";
@import "components/logo";
@import "components/two-columns";
@import "components/three-columns";
@import "components/slick";
@import "components/fancybox";
@import "components/loader";
@import "components/search";
@import "components/social";
